*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.navbar {
    height: 12vh;
    background-color: rgba(12, 11, 11, 0.884);
}
.styleTitle {
    font-family: 'BioRhyme Expanded', serif;
    color: white;
}
.informa {
    background-color: black;
    color: white;
    font-weight: bold;
}
.styleContainer {
    margin-bottom: 13px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F79647;
}
.styleInput {
    height: 10vh;
}
.styleSearch {
    padding: 5px;
    border-radius: 15px;
}
.styleSubtitle {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 2rem;
}

/*------------ver topic-----------------*/
.containerTopic {
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.btnResp {
    background-color: #1D2EC6;
}
.resp {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.autorCss {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.answer {
    display: block;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(161, 238, 230);
}
